spring:
    application:
        name: edupage

    datasource:
        url: jdbc:postgresql://postgres:5432/edupage
        username: edupage
        password: edupage123
        driver-class-name: org.postgresql.Driver

    # h2:
    #   console:
    #     enabled: true
    #     path: /h2-console

    jpa:
        hibernate:
            ddl-auto: create-drop
        show-sql: false
        properties:
            hibernate:
                dialect: org.hibernate.dialect.PostgreSQLDialect
                format_sql: true

    mail:
        host: smtp.gmail.com
        port: 587
        username: ${SPRING_MAIL_USERNAME}
        password: ${SPRING_MAIL_PASSWORD}
        default-encoding: UTF-8
        properties:
            mail:
                smtp:
                    auth: true
                    starttls:
                        enable: true
                        required: true
                    ssl:
                        trust: smtp.gmail.com
                        protocols: TLSv1.2
                    connectiontimeout: 2147483647
                    timeout: 2147483647
                    writetimeout: 2147483647

server:
    port: 8080

app:
    jwt:
        secret: ${JWT_SECRET:myVerySecretKeyForJWTTokenGenerationThatIsAtLeast256BitsLong2024}
        expiration: 86400000 # 24 hours in milliseconds


    url: http://localhost:8080




